{% extends "bootstrap/base.html" %}

{% block title %}N3T{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='asm-logo-round@2.df2681.png') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='asm-logo-round@2.df2681.png') }}" type="image/x-icon">
<!--link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"-->
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">
			<img src="/static/asm-logo-round@2.df2681.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
			{{device_name}}
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="{{ url_for('main.home')}}">Home</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Other </a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" href="#">Command</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
{% endblock %}

{% block content %}
<div class="container"> 
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
